@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"EuclidRegular";
  src:local('EuclidRegular') ,url('../public/fonts/EuclidCircularARegular.ttf');
}
@font-face {
  font-family: "EuclidBold";
  src: local('EuclidBold'), url('../public/fonts/EuclidCircularASemiBold.ttf');
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color : #F0137D;
  --text-color : white;
}
.bg-maunfact{
  background: url(../public/Images/Bg.png) no-repeat contain/center;
}
