.Background {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.container {
  width: 100vw;
  height: 85vh;
}
.headlines {
  width: 80%;
}
.headlines button {
  border: none;
  background-color: var(--main-color);
  
  color: var(--text-color);
  cursor: pointer;
}
